// globale Variablen
@import './../../../styles.scss';

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 109px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;

  &.scrolled {
    background-color: $background-dark;
  }

  .header_content {
    display: flex;
    flex-wrap: nowrap;
    height: 109px;
    max-width: 1440px;
    margin: 0 auto;
    align-content: space-around;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .header_logo {
    .logo_name {
      font-size: clamp(24px, 5vw, 40px);
      color: $white;
      font-weight: bold;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
      line-height: 60px;
      text-shadow: 0 0 2px $green;
      flex-shrink: 0;
    }

    a {
      text-decoration: none !important;

      &:hover .logo_name span {
        color: $white;
        text-shadow: 0 0 16px $green;
        transition: color 0.1s ease-in-out;
      }
    }
  }

  .accent-green {
    color: $green;
  }

  .accent-purple {
    color: $purple;
  }

  .half-colored {
    display: inline-block;
    position: relative;
    color: $white;

    &::before {
      content: 'M';
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: $green;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      z-index: 10;
    }
  }

  .switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    input {
      display: none; 
    }

    .slider {
      width: 50px;
      height: 24px;
      background-color: #ccc;
      border-radius: 34px;
      position: relative;
      transition: background-color 0.4s ease;

      &::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.4s ease;
      }
    }

    input:checked + .slider {
      background-color: #70E61C;

      &::before {
        transform: translateX(26px);
      }
    }

    .lang-text {
      margin-left: 10px; 
      font-size: 16px; 
    }

    .slider:hover {
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }

  .header_menu {
    ul {
      list-style: none;
      display: flex;
      gap: 20px;

      li {
        a {
          text-decoration: none;
          color: $white;
          position: relative;
          padding-left: 16px;
          transition: color 0.3s;
          font-size: 23px;
          font-weight: 400;
          line-height: 27.6px;
          cursor: pointer;

          &:hover {
            color: $green;

            &::after {
              width: 70%;
              background-color: $purple;
            }
          }

          &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 15%;
            width: 0;
            height: 2px;
            background-color: transparent;
            transition: width 0.3s ease, background-color 0.3s ease;
          }
        }
      }
    }
  }

  .header_menu ul li a.active {
    color: $green; // Farbe des aktiven Links
    position: relative;
  
    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 15%;
      width: 70%;
      height: 2px;
      background-color: $purple; // Farbe des Balkens für den aktiven Link
      transition: width 0.3s ease, background-color 0.3s ease;
    }
  
    &:hover {
      color: $green;
  
      &::after {
        background-color: $purple; // Farbe des Balkens beim Hover
      }
    }
  }
  
  

  .hamburger-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;

    .bar {
      width: 100%;
      height: 3px;
      background-color: #fff;
    }
  }

  .mobile-switch {
    margin-right: 30px;
    display: none;
  }

  .flex {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }



  @media (max-width: 900px) {
  

    .header_content {
      flex-direction: row;
      justify-content: space-between;
    }

    .mobile-switch {
      order: 1;
      display: flex;
    }

    .hamburger-icon {
      display: flex;
    }

    .language-switch-item {
      display: none;
    }

    .header_menu {
      padding: 50px 0;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #414856;
      width: 100%;
      text-align: center;
      z-index: 1000;
      
      &.menu-open {
        display: flex;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column;

        li {
          padding: 10px 0;

          &:hover {
            background-color: $purple;
          }

          a {
            text-decoration: none;
            font-size: 18px;
            color: $white;
          }
        }
      }
    }
  }
}

@media (max-width: 860px) {
.slider {
    width: 40px !important; 
    height: 20px !important;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    transition: background-color 0.4s ease;
    
    &::before {
        content: "";
        position: absolute;
        height: 16px !important; 
        width: 16px !important;  
        left: 2px;
        bottom: 2px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.4s ease;
    }
    }
    
    input:checked + .slider {
    background-color: #70E61C;
    
    &::before {
        transform: translateX(20px) !important; 
    }
    }
    .header_menu .switch {
        display: none;
    }
}

@media (max-width: 390px) {
  header {
    padding: 0 10px;
  }
  h1.logo_name {
    font-size: 32px !important;
  }
  .container {
    padding: 0;
  }



}