<header id="top">
    <div class="container">
        <div class="header_content">
            <div class="header_logo">
                <a href="index.html">
                    <h1 class="logo_name">
                        <span class="half-colored">M</span>
                        <span>a</span>
                        <span>r</span>
                        <span class="accent-green">c</span>
                    </h1>
                </a>
            </div>

            <div class="flex">
                <label class="switch mobile-switch">
                    <input type="checkbox" checked [checked]="isEnglish" (change)="onLanguageChange()">
                    <span class="slider"></span>
                    <span class="lang-text">{{ isEnglish ? 'EN' : 'DE' }}</span>
                </label>

                <div class="hamburger-icon" (click)="toggleMenu()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <div class="header_menu" [class.menu-open]="menuOpen">
                <ul>
                    <li><a href="#about">{{ isEnglish ? 'About me' : 'Über mich' }}</a></li>
                    <li><a href="#skills">{{ isEnglish ? 'Skills' : 'Kenntnisse' }}</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">{{ isEnglish ? 'Contact' : 'Kontakt' }}</a></li>
                    <li></li>
                    <li>
                        <label class="switch">
                            <input type="checkbox" checked [checked]="isEnglish" (change)="onLanguageChange()">
                            <span class="slider"></span>
                            <span class="lang-text">{{ isEnglish ? 'EN' : 'DE' }}</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
