
// globale Variablen
@import './../../../styles.scss';

header {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 109px; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
    z-index: 1000;

    .header_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        height: 109px;
    }
}

header.scrolled {
    background-color: $background-dark;
}

/* Menu */
.header_menu {
    ul {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    a {
        text-decoration: none;
        color: $white;
        transition: color 0.3s;
        cursor: pointer;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        padding-left: 16px;

        &:hover {
            color: $green;
        }
    }
}

/* Logo */
.header_logo {
    .logo_name {
        font-size: 40px;
        color: $white;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        line-height: 60px;
        text-shadow: 0 0 2px $purple;
    }

    a {
        text-decoration: none !important;

        &:hover .logo_name span {
            color: $white;
            text-shadow: 0 0 10px $green;
            transition: color 0.1s ease-in-out;
        }
    }
}

.accent-green {
    color: $green;
}

.accent-purple {
    color: $purple;
}

.half-colored {
    display: inline-block;
    position: relative;
    color: $white;

    &::before {
        content: 'M';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: $green;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        z-index: 10;
    }
}

