<header id="top">
    <div class="container">
        <div class="header_content">
            <div class="header_logo">
                <a routerLink="/" (click)="scrollToTop()"> 
                    <h1 class="logo_name">
                        <span class="accent-green">&lt;</span>
                        <span>M</span>
                        <span>a</span>
                        <span>r</span>
                        <span>c</span>
                        <span class="accent-green">&gt;</span>
                    </h1>
                </a>
            </div>

            <div class="flex">
                <label class="switch mobile-switch">
                    <input type="checkbox" checked [checked]="isEnglish" (change)="onLanguageChange()">
                    <span class="slider"></span>
                    <span class="lang-text">{{ isEnglish ? 'EN' : 'DE' }}</span>
                </label>

                <div class="hamburger-icon" (click)="toggleMenu()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <div class="header_menu" [class.menu-open]="menuOpen">
                <ul>
                    <li><a href="#about" 
                        [class.active]="isActive('about')" 
                        (click)="closeMenu()">
                        {{ isEnglish ? 'About me' : 'Über mich' }}
                 </a></li>
                 
                 <li><a href="#skills" 
                        [class.active]="isActive('skills')" 
                        (click)="closeMenu()">
                        {{ isEnglish ? 'Skills' : 'Kenntnisse' }}
                 </a></li>
                 
                 <li><a href="#portfolio" 
                        [class.active]="isActive('portfolio')" 
                        (click)="closeMenu()">
                        Portfolio
                 </a></li>
                 
                 <li><a href="#contact" 
                        [class.active]="isActive('contact')" 
                        (click)="closeMenu()">
                        {{ isEnglish ? 'Contact' : 'Kontakt' }}
                 </a></li>              
                    <li class="language-switch-item">
                        <label class="switch">
                            <input type="checkbox" checked [checked]="isEnglish" (change)="onLanguageChange()">
                            <span class="slider"></span>
                            <span class="lang-text">{{ isEnglish ? 'EN' : 'DE' }}</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
