
@import './../../../styles.scss';

h2 {
    font-size: clamp(45px, 6vw, 90px);
    line-height: clamp(54px, 7vw, 108px);
}

.portfolio {
    max-width: 1440px;
    padding: 20px;
    background-color: $background-dark;
    position: relative;

    .portfolio-header {
        margin-bottom: 26px;
    }

    .farbklecks-right,
    .farbklecks-left {
        position: absolute;
        width: 500px;
        height: 500px;
        overflow: hidden;
        filter: blur(30px);
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        animation: moveAndPulse 4s ease-in-out infinite;
    }

    .farbklecks-right {
        right: -150px;
        background-image: url('./../../../assets/images/shadows/blue_shadow_2.svg');
    }

    .farbklecks-left {
        bottom: 0;
        left: -250px;
        background-image: url('./../../../assets/images/shadows/green_shadow_skills_and_portfolio_section.svg');
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        h2 {
            margin-bottom: 0;
        }

        .portfolio-line {
            width: 80px;
            height: 4px;
            background-color: $purple;
            position: absolute;
            left: -88px;
        }
    }

    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        max-width: 1240px;
        margin: 20px auto 0;
        justify-content: space-between; 
    }
}


@keyframes moveAndPulse {
    0%, 100% {
        transform: translateX(0) scale(1);
    }
    50% {
        transform: translateX(30px) scale(1.2);
    }
}

.box {
    aspect-ratio: 1 / 1; 
    width: 45%; 
    max-width: 45%;
    position: relative;
    overflow: hidden;
    border: 1px solid $green;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $background-dark;
    z-index: 3;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        transition: transform 0.3s ease;
        z-index: 1;
    }

    &:hover::before {
        transform: scale(2);
    }

    @for $i from 1 through 4 {
        &.box#{$i}::before {
            background-image: url('./../../../assets/images/work/#{nth(("el_pollo_loco", "join", "da_bubble", "pokedex"), $i)}.png');
        }
    }

    .box-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        transition: transform 0.3s ease;
        transform: translateY(60%);
        background-color: rgba(34, 34, 34, 0.7); 
        opacity: 0; 
        transition: transform 0.3s ease, opacity 0.3s ease;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60%;
            background-color: #ffffff;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }

        .content-bottom {
            height: 60%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            z-index: 1;
        }

        .box-title {
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            line-height: 38.4px;
            color: $purple;
            margin: 10px;
        }

        .box-text {
            text-align: center;
            font-weight: 400;
            font-size: clamp(10px, 1.5vw, 18px); 
            line-height: clamp(12px, 2vw, 20px);
            color: $black;
            margin-bottom: 5px; 
        }

        .box-links {
            display: flex;
            justify-content: center;
            gap: 10px;
            color: $green;
            margin-bottom: 30px;

            a {
                color: $green;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .box-buttons {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 15px; 
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 4;
        width: auto;
        height: 45px; 
    
    }
    

    &:hover {
        .box-content {
            transform: translateY(0);
            opacity: 1;
        }

        .box-buttons {
            opacity: 1;
        }
    }
}

.box-links {
    text-align: center; 
}

.box-links p {
    display: inline-block; 
    margin: 0; 
    font-size: clamp(10px, 1.5vw, 18px); 
    line-height: clamp(12px, 2vw, 20px);
    font-weight: 400;
}

.box-links p:not(:last-child)::after {
    content: "|"; 
    margin-left: 10px; 
    margin-right: 10px; 
}

@media (max-width: 1000px) {
    #primary-btn {
        margin-top: 30px !important;
        padding: 5px;
        margin: 10px;
        width: 120px;
        font-size: 14px;

    }
}   

@media (max-width: 800px) {
    #primary-btn {
        margin-top: 20px !important;
        padding: 1px;
        margin: 10px;
        width: 120px;
        font-size: 14px;
        height: 32px;
    }
}    

@media (max-width: 700px) {
    .portfolio-container {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center; 
        gap: 15px; 
    }


    .box {
        width: calc(100% - 40px); 
        max-width: calc(100% - 40px); 
        margin: 0 auto; 
    }
    .box-text {
        text-align: center;
        font-weight: 400;
        font-size: 18px !important; 
        line-height:22px !important;
    }    
    .box-title {
        font-size: 32px !important;
        line-height: 1.3;
        margin: 20px;
    }
    .box-buttons {
        top: 20px;
        gap: 15px;
        height: 50px;
    }

    .box-links p {
        font-size: 18px !important;
        line-height: 1.5;
    }
    #primary-btn {
        margin-top: 60px !important;
        padding: 5px;
        margin: 10px;
        width: 120px;
        font-size: 18px;
        height: 40px;
    }
}

@media (max-width: 600px) {
    .portfolio-container {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .box {
        width: calc(100% - 20px); 
        max-width: calc(100% - 20px); 
        margin: 0 auto;
        padding: 5px;
    }

    .box-buttons {
        top: 5px;
        gap: 3px; 
        height: 40px; 
    }
}

@media (max-width: 440px) {
    #primary-btn {
        margin-top: 20px !important;
        padding: 0;
        margin: 0;
        width: 80px;
        font-size: 14px;
        height: 32px;
    }

    .box {
        width: calc(100% - 20px); 
        max-width: calc(100% - 20px); 
        margin: 0 auto;
        padding: 5px;
    }

    .box-text {
        text-align: center;
        font-weight: 400;
        font-size: 12px !important; 
        line-height:12px !important;
    }    
    .box-title {
        font-size: 18px !important;
        line-height: 18px !important;
        margin: 0;
    }
    .box-buttons {
        top: 20px;
        gap: 15px;
        height: 50px;
    }
    .box-links {
        gap: 0;
        margin: 0 auto;
    }
    .box-links p {
        font-size: 11px !important;
        line-height: 11px;
    }
    .box-links p:not(:last-child)::after {
        content: "|"; 
        margin-left: 2px; 
        margin-right: 2px; 
    }
}


button {
    font-size: clamp(10px, 1.2vw, 18px); 
    padding: 8px 16px; 
}


#primary-btn {
    margin-top: 80px;
  }
  
  button {
    &.primary {
      background-color: $purple;
      color: $white;
      border: none;
      padding: 12px 24px;
      font-size: 23px;
      font-weight: 400;
      line-height: 27.6px;
      width: 165px;
      height: 58px;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: box-shadow 0.3s ease;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  
      &:hover {
        transform: scale(1.1);
        background-color: $green;
      }
    }
  
    &.secundary {
      background-color: transparent;
      color: $white;
      border: 1px solid $indigo;
      padding: 12px 24px;
      font-size: 23px;
      font-weight: 400;
      line-height: 27.6px;
      width: 165px;
      height: 58px;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: box-shadow 0.3s ease;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  
      &:hover {
        transform: scale(1.1);
        background-color: $indigo;
      }
    }
  }
  





