<section id="about">
    <div class="container">
        <div class="about_content">
            <div class="about_text">
                <h2>{{ isEnglish ? 'About me' : 'Über mich' }}</h2>
                <p>{{ isEnglish ? 
                    "Hey there! I'm Marc, a frontend developer fueled by a passion for crafting user-friendly digital experiences. With a talent for problem-solving and an eye for detail, I specialize in translating complex ideas into elegant designs." : 
                    'Hallo! Ich bin Marc, ein Frontend-Entwickler, der von der Leidenschaft angetrieben wird, benutzerfreundliche digitale Erlebnisse zu schaffen. Mit einem Talent für Problemlösung und einem Auge fürs Detail, spezialisiere ich mich darauf, komplexe Ideen in elegante Designs zu übersetzen.' }}</p>
                
                <p class="mg-16">{{ isEnglish ? 
                    "Let's connect and create something amazing together!" : 
                    "Lass uns in Kontakt treten und gemeinsam etwas Großartiges erschaffen!" }}</p>
                
                <ul>
                    <li class="about_1">{{ isEnglish ? 
                        "Flexible in terms of working environments, I can work effectively both on-site in greater Frankfurt area and remotely." : 
                        "Flexibel in Bezug auf Arbeitsumgebungen kann ich sowohl vor Ort im Großraum Frankfurt als auch remote effektiv arbeiten." }}</li>
                    
                    <li class="about_2">{{ isEnglish ? 
                        "I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills." : 
                        "Ich bin aufgeschlossen und suche stets nach persönlichen Herausforderungen, um mein Wissen und meine Fähigkeiten kontinuierlich zu verbessern." }}</li>
                    
                    <li class="about_3">{{ isEnglish ? 
                        "In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life." : 
                        "In meinem Beruf geht es beim Programmieren nicht nur um das Schreiben von Code; es ist eine kreative Art der Problemlösung. Ich bin stolz darauf, komplexe technische Herausforderungen in einfache, benutzerfreundliche Lösungen zu verwandeln. So helfe ich dir, deine Ziele zu erreichen und deine Visionen zum Leben zu erwecken." }}</li>
                </ul>
            </div>
            <div class="about_image">
                <div class="background-left"></div>
                <!-- <div class="background-right"></div> -->
                <img class="hero-character" src="./assets/images/hero_character.png" alt="About me">
            </div>
        </div>
    </div>
    <div class="about-background"></div>
</section>
