
@import './../../../styles.scss';

#about {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    position: relative;
    overflow: visible; 
    background-color: $background-dark;
    scroll-margin-top: 109px; 
    padding-bottom: 600px;
}

.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative; 
}

.about-section {
    position: relative;
}

.about_content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px; 
    position: relative; 

}

.about_text {
    flex: 1 1 50%;
    max-width: 470px;
    width: 100%;
    z-index: 5;
}

h2 {
    font-size: clamp(45px, 6vw, 90px);
    line-height: clamp(54px, 7vw, 108px);
}

.about_image {
    flex: 1 1 50%;
    position: relative; 
    z-index: 2; 
}

.about_image img {
    width: 100%;
    height: auto;
    padding-right: 0;
    background-size: contain;
}

img {
    max-width: 100%;
    height: auto;
}

.mg-16 {
    margin-top: 16px;
}

ul {
    list-style: none;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;

    li {
        &.about_1, &.about_2, &.about_3 {
            background-repeat: no-repeat;
            padding-left: 50px;
            position: relative;
            gap: 20px;
            background-size: 25px 32px; 
        }

        &.about_1 { 
            background-image: url('./../../../assets/images/icons/about_icon_1.svg');
        }
        &.about_2 { 
            background-image: url('./../../../assets/images/icons/about_icon_2.svg');
        }
        &.about_3 { 
            background-image: url('./../../../assets/images/icons/about_icon_3.svg');
        }
    }
}

.background-left {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: -30px; 
    top: 100px; 
    right: 100px; 
    background-image: url('./../../../assets/images/shadows/photo_shadows.svg');
    background-position: left center; 
    background-size: 100% auto; 
    width: 700px;
    height: 100%; 
    z-index: -1; 
    overflow-x: visible;
    filter: blur(10px);
}

.about-background {
    position: absolute;
    bottom: -50px; 
    left: 0;
    width: 100%;
    height: 1000px; 
    background-image: url('./../../../assets/images/vector_shape_hero_page.svg');
    background-size: cover; 
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: 2; 
}

@media (max-width: 1200px) {
    .background-left {
        width: 1000px;
    }
}


@media (max-width: 1024px) {
    .background-left {
        width: 1000px;
    }
}


@media (max-width: 930px) {
    .about_content {
        flex-wrap: wrap; 
    }
    .about_text,
    .about_image {
        flex: 1 1 100%; 
        margin: 0 auto;
    }
    .about_image {
        margin-top: 20px;
    }

    .background-left {
        width: 900px;
    }

}


@media (max-width: 768px) {
    .about_text {
        margin-left: 0;
    }
    .about_image {
        max-width: 100%; 
        margin-top: 20px; 
    }
    .background-left {
        width: 700px;
    }
}

@media (max-width: 600px) {
    .about_text,
    .about_image {
        flex: 1 1 100%;
    }
    .about_image {
        margin-top: 20px;
    }
    .background-left {
        width: 600px;
    }
}


@media (max-width: 480px) {
    .background-left {
        width: 400px;
    }
}

@media (max-width: 350px) {
    .background-left {
        width: 300px;
    }
}