

<section id="about">
    <div class="container">
        <div class="about_content">
            <div class="about_text">
                <h2>About me</h2>
                <p>Hey there! I`m Marc, a frontend developer fueled by a passion for crafting user-friendly digital experiences. With a talent for problem-solving and an eye for detail, I specialize in translating complex ideas into elegant designs.</p>
                <p>Let`s connect and create something amazing together!</p>
                <ul>
                    <li class="about_1">Flexible in terms of working environments, I can work effectively both on-site in greater Frankfurt area and remotely.</li>
                    <li class="about_2">I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</li>
                    <li class="about_3">In my profession, programming isn`t just about writing code; it`s a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.</li>
                </ul>
            </div>
            <div class="about_image about_background_left">
                <div class="about_background_right">
                    <img src="./assets/images/hero_character_photo.png" alt="About me">
                </div>
            </div>
        </div>
    </div>
    <div class="about_background"></div>
</section>
