
// Importiere globale Variablen
@import './../../../styles.scss';


#about {
    margin-bottom: -100px;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.about_content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
}

.about_text {
    flex: 1;
    max-width: 470px;
    margin-left: 50px;
}

.about_image {
    flex: 1;
    max-width: 50%;
    position: relative; 
    z-index: 2; 
}

.about_image img {
    width: 100%; /* Lässt das Bild die volle Breite des Containers einnehmen */
    max-width: 600px; /* Setzt eine maximale Breite für große Bildschirme */
    height: auto; /* Beibehaltung des Seitenverhältnisses */
    padding-right: 0; /* Entfernt das Padding für die mobile Ansicht */
    background-size: contain;
}

img {
    max-width: 100%;
    height: auto;
  }


.mg-16 {
    margin-top: 16px;
}

ul {
    list-style: none;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;

    li {
        &.about_1, &.about_2, &.about_3 {
            background-repeat: no-repeat;
            padding-left: 50px;
            position: relative;
            gap: 20px;
            background-size: 25px 32px; 
        }

        &.about_1 { 
            background-image: url('./../../../assets/images/icons/about_icon_1.svg');
        }
        &.about_2 { 
            background-image: url('./../../../assets/images/icons/about_icon_2.svg');
        }
        &.about_3 { 
            background-image: url('./../../../assets/images/icons/about_icon_3.svg');
        }
    }
}

.about_background_left,
.about_background_right {
    background-repeat: no-repeat;
    padding-left: 40px;
    position: relative;

    &.about_background_left {
        background-image: url('./../../../assets/images/about_purple_shadow.svg');
        background-position: left 0px;
    }
    
    &.about_background_right {
        background-image: url('./../../../assets/images/about_green_shadow.svg');
        background-position: right;
    }
}

.about-background {
    background-image: url('./../../../assets/images/vector_shape_hero_page.svg');
    background-size: 100% auto;
    background-position: top center;
    width: 100%;
    height: 1000px;
    z-index: 2;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -290px;
}



@media (max-width: 1024px) {
    /* Anpassungen für Tablets */
  }
  

@media (max-width: 768px) {
    .about_content {
        flex-direction: column;
        align-items: center; 
    }

    .about_text {
        text-align: center; 
    }

    .about_image {
        max-width: 100%; 
        margin-top: 20px; 
    }

    ul {
        max-width: 100%;
        margin: 0 auto;
    }

    li {
        padding-left: 0; 
    }
}


@media (max-width: 480px) {
    /* Anpassungen für kleinere Smartphones */
  }

  