

<section id="hero">
    <div class="farbklecks-left animate"></div>
    <div class="farbklecks-right animate"></div>
    <div class="hero">
        <div class="hero_content">
            <div class="vertical">{{ isEnglish ? 'I am' : '' }}</div>
            <div class="flex">
                <div class="horizontal-name">Marc Braun</div>
                <div class="horizontal-title">{{ isEnglish ? 'FRONTEND DEVELOPER' : 'FRONTEND-ENTWICKLER' }}</div>
            </div>
        </div>
        <a href="#contact">
            <button id="primary-btn" class="primary ripple-button" (click)="addRippleEffect($event)">
                {{ isEnglish ? "Let's talk!" : 'Reden wir!' }}
            </button>
        </a>
    </div>

    <a href="#about" class="rotated-text-link">
        <div class="rotated-text-container">
            <p class="rotated-text">{{ isEnglish ? 'Scroll down' : 'Scrollen' }}</p>
            <div class="arrow-down">
                <div class="arrow-line"></div> 
                <div class="arrow-tip"></div>  
            </div>
        </div>
    </a>



    <div class="icon-row">
        <div class="green-line"></div>
        <a href="https://github.com/Marc-Braun-72" target="_blank" class="icon-link">
            <img src="./../../../assets/images/hero_icons/icon_github.svg" alt="Github" class="icon">
        </a>
        <a href="mailto:mail@marc-braun.com" class="icon-link">
            <img src="./../../../assets/images/hero_icons/icon_mail.svg" alt="E-Mail" class="icon">
        </a>
        <a href="https://www.linkedin.com/" target="_blank" class="icon-link">
            <img src="./../../../assets/images/hero_icons/icon_linkedin.svg" alt="LinkedIn" class="icon">
        </a>
    </div>

</section>





