
// Importiere globale Variablen
@import './../../../styles.scss';


.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 900px !important;
    margin-bottom: 100px;
    max-width: 1440px;
    background-color: transparent;
    margin: 0 auto; 
    padding: 0;
}



.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0 5vw;
    height: calc(100vh);
    flex-direction: column;
    position: relative;

    .hero_content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    .vertical {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: clamp(32px, 6vw, 90px);
        line-height: clamp(54px, 7vw, 108px);
        font-weight: 400;
        margin-top: 12px;
    }

    .horizontal-name {
        color: $white;
        font-size: clamp(45px, 8vw, 128px); 
        font-weight: 700;
        line-height: clamp(54px, 9vw, 153.6px);
        margin: 0;
        text-shadow: 0px 0px 1px black;
        z-index: 10;
    }

    .horizontal-title {
        color: $purple;
        font-size: clamp(25px, 5vw, 64px); 
        font-weight: 400;
        line-height: clamp(36px, 6vw, 76.8px);
        margin: 0;
        text-shadow: 0px 0px 1px black;
        z-index: 10;
    }
}

.farbklecks-left, .farbklecks-right {
    position: absolute;
    top: 170px;
    width: 500px; 
    height: 500px;
    overflow: hidden;
    filter: blur(30px); 
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: center center;
    animation: none;
}

.farbklecks-left {
    will-change: transform;
    left: -50px; 
    background-image: url('./../../../assets/images/shadows/purple_shadow_about_me.svg');

    animation: splash-left 1.2s ease-out forwards, pulse 1.8s ease-in-out 1.2s 2 !important;
}

.farbklecks-left.animate {
    will-change: transform;
    animation: splash-left 1.2s ease-out forwards, pulse 1.8s ease-in-out 1.2s 2;
}

.farbklecks-right {
    will-change: transform;
    right: -50px; 
    background-image: url('./../../../assets/images/shadows/blue_shadow_1_v2.svg');
    animation: splash-right 1.2s ease-out 0.2s forwards, pulse 1.8s ease-in-out 1.4s 2 !important;
}

.farbklecks-right.animate {
    will-change: transform;
    animation: splash-right 1.2s ease-out 0.2s forwards, pulse 1.8s ease-in-out 1.4s 2 !important;
}


@keyframes splash-left {
    0% {
        transform: translateX(-150%) scale(0.5) rotate(-180deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scale(1) rotate(0deg);
        opacity: 1;
    }
}


@keyframes splash-right {
    0% {
        transform: translateX(150%) scale(0.5) rotate(180deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scale(1) rotate(0deg);
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

a {
    display: inline-block;
    z-index: 1;
}

#primary-btn {
    margin-top: 0
}

/* Animated Arrow
**********************************************************/
.rotated-text-container {
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; 
    float: right;
    position: relative;
}

.rotated-text {
    transform: rotate(90deg); 
    font-size: 23px;
    line-height: 27.6px;
    font-weight: 400; 
    text-decoration: none; 
    margin-bottom: 60px; 
    transition: color 0.3s ease; 
    color: $white;
}

.rotated-text:hover {
    color: $green;
}

.arrow-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: none; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.arrow-line {
    width: 2px; 
    height: 20px; 
    background-color: $white; 
    margin-bottom: -5px; 
    transition: background-color 0.3s ease;
}

.arrow-tip {
    width: 10px;
    height: 10px;
    border-left: 2px solid $white; 
    border-bottom: 2px solid $white; 
    transform: rotate(-45deg); 
    margin-top: -5px; 
    margin-left: 0px;
    transition: border-color 0.3s ease; 
}

.rotated-text-link {
    text-decoration: none; 
    color: inherit;
    display: inline-block; 
}

.rotated-text-container:hover {
    .rotated-text {
        color: $green;
    }
    
    .arrow-line {
        background-color: $purple;
    }
    
    .arrow-tip {
        border-left-color: $purple;
        border-bottom-color: $purple;
    }
    
    .arrow-down {
        animation: bounce 0.6s infinite; 
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px); 
    }
}

/* Icons 
**********************************************************/

.icon-row {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -100px;
}

.green-line {
    width: 100px; 
    height: 3px; 
    background-color: $green;
    margin-right: 40px; 
}

.icon-link {
    display: inline-block;
    margin-right: 40px; 
    transition: transform 0.3s ease;
}

.icon {
    width: 30px; 
    height: 30px;
}

.icon-link:hover .icon {
    transform: scale(1.2); 
    filter: drop-shadow(0 0 10px rgba($green, 0.9));
    border-radius: 50%; 
}

@media (max-width: 1100px) {
    .vertical {
        margin-top: 0 !important;
    }
}

@media (max-width: 750px) {
    .farbklecks-left {
        top: 260px;
        width: 300px;
        height: 300px;
        filter: blur(10px);
        left: -120px;
    }
    .farbklecks-right {
        right: -100px;
        top: 300px;
        width: 300px;
        height: 300px;
        filter: blur(30px);
    }
}

@media (max-width: 450px) {
    .rotated-text-container {
        display: none;
    }
    .farbklecks-right {
        right: -100px;
        top: 200px;
        filter: blur(10px);
    }
}

@media (max-width: 380px) {
    .vertical {
        display: none;
    }
}