
// Importiere globale Variablen
@import './../../../styles.scss';


.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 900px !important;
    margin-bottom: 100px;
    max-width: 1440px;
    background-color: transparent;
    margin: 0 auto; 
    padding: 0;
}



.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0 5vw;
    height: calc(100vh);
    flex-direction: column;
    position: relative;

    .hero_content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .vertical {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 90px;
        line-height: 108px;
        font-weight: 400;
        margin-top: 12px;
    }

    .horizontal-name {
        color: $white;
        font-size: 128px;
        font-weight: 700;
        line-height: 153.6px;
        margin: 0;
    }

    .horizontal-title {
        color: $purple;
        font-size: 64px;
        font-weight: 400;
        line-height: 76.8px;
        margin: 0;
    }
}

.farbklecks-left, .farbklecks-right {
    position: absolute;
    top: 170px;
    width: 500px; 
    height: 500px;
    overflow: hidden;
    filter: blur(30px); 
}

.farbklecks-left {
    left: -150px; 
    background-image: url('./../../../assets/images/shadows/purple_shadow_about_me.svg');
    background-size: cover;
    background-repeat: no-repeat;

}

.farbklecks-right {
    right: -150px; 
    background-image: url('./../../../assets/images/shadows/blue_shadow_1_v2.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    display: inline-block;
    z-index: 1;
}

#primary-btn {
    margin-top: 80px;
}

/* Animated Arrow
**********************************************************/
.rotated-text-container {
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; 
    float: right;
}

.rotated-text {
    transform: rotate(90deg); 
    font-size: 23px;
    line-height: 27.6px;
    font-weight: 400; 
    text-decoration: none; 
    margin-bottom: 60px; 
    transition: color 0.3s ease; 
    color: $white;
}

.rotated-text:hover {
    color: $green;
}

.arrow-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: none; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.arrow-line {
    width: 2px; 
    height: 20px; 
    background-color: $white; 
    margin-bottom: -5px; 
    transition: background-color 0.3s ease;
}

.arrow-tip {
    width: 10px;
    height: 10px;
    border-left: 2px solid $white; 
    border-bottom: 2px solid $white; 
    transform: rotate(-45deg); 
    margin-top: -5px; 
    margin-left: 0px;
    transition: border-color 0.3s ease; 
}

.rotated-text-link {
    text-decoration: none; 
    color: inherit;
    display: inline-block; 
}

.rotated-text-container:hover {
    .rotated-text {
        color: $green;
    }
    
    .arrow-line {
        background-color: $purple;
    }
    
    .arrow-tip {
        border-left-color: $purple;
        border-bottom-color: $purple;
    }
    
    .arrow-down {
        animation: bounce 0.6s infinite; 
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px); 
    }
}

/* Icons 
**********************************************************/

.icon-row {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -100px;
}

.green-line {
    width: 100px; 
    height: 3px; 
    background-color: $green;
    margin-right: 40px; 
}

.icon-link {
    display: inline-block;
    margin-right: 40px; 
    transition: transform 0.3s ease;
}

.icon {
    width: 30px; 
    height: 30px;
}

.icon-link:hover .icon {
    transform: scale(1.2); 
}

