



<!-- <div class="skills-background"></div> -->

<div class="wave-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#141D2F" fill-opacity="1" d="M0,160L400,160Q920,160,1440,0L1440,320L0,320Z"></path>
    </svg>
  </div>

<section id="skills">
    <div class="icon-text-section">
        <div class="icons-container">
            <div class="icon-row">
                <div class="icon-item">
                    <i class="icon icon-1"><img src="../../../assets/images/skill_icons/angular.svg" alt="Angular Framework"></i>
                    <p class="icon-label">Angular</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-2"><img src="../../../assets/images/skill_icons/typescript.svg" alt="TypeScript"></i>
                    <p class="icon-label">TypeScript</p>
                </div>   
                <div class="icon-item">
                    <i class="icon icon-3"><img src="../../../assets/images/skill_icons/javascript.svg" alt="JavaScript"></i>
                    <p class="icon-label">JavaScript</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-4"><img src="../../../assets/images/skill_icons/firebase.svg" alt="Firebase"></i>
                    <p class="icon-label">Firebase</p>
                </div>
            </div>
            <div class="icon-row">
                <div class="icon-item">
                    <i class="icon icon-5"><img src="../../../assets/images/skill_icons/html5.svg" alt="HTML 5"></i>
                    <p class="icon-label">HTML</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-6"><img src="../../../assets/images/skill_icons/css3.svg" alt="CSS 3"></i>
                    <p class="icon-label">CSS</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-7"><img src="../../../assets/images/skill_icons/git.svg" alt="Git"></i>
                    <p class="icon-label">GIT</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-8"><img src="../../../assets/images/skill_icons/rest_api.svg" alt="Rest API"></i>
                    <p class="icon-label">Rest-API</p>
                </div>
            </div>
            <div class="icon-row">
                <div class="icon-item">
                    <i class="icon icon-9"><img src="../../../assets/images/skill_icons/material_design.svg" alt="Material Design"></i>
                    <p class="icon-label">Material<br>Design</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-10"><img src="../../../assets/images/skill_icons/scrum.svg" alt="Scrum"></i>
                    <p class="icon-label">Scrum</p>
                </div>
            </div>
            <div class="icon-row">
                <div class="icon-item">
                    <i class="icon icon-11"><img src="../../../assets/images/skill_icons/learning.svg" alt="Continually Learning"></i>
                    <p class="icon-label">Continually<br>learning</p>
                    <img class="small-image" src="../../../assets/images/vue_react.png" alt="VUE.js and REACT">
                </div>
                
            </div>
        </div>
    </div>
    <div class="text-container">
        <div class="flex">
            <h2>Skills</h2>
            <div class="line"></div>
        </div>
        <div class="margin">
            <p>My journey has involved working on diverse projects, employing a range of frontend technologies and concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills and stay ahead in the ever-evolving landscape of web development.</p>
            <h3>Looking for <span>another skill</span>?</h3>
            <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
            <button id="primary-btn" class="primary ripple-button" (click)="addRippleEffect($event)">Get in touch</button>
        </div>
    </div>
    
</section>
