<section id="skills">
    <div class="icon-text-section">
        <div class="icons-container">
            <div class="icon-row">
                <div class="icon-item">
                    <i class="icon icon-1"><img src="../../../assets/images/skill_icons/angular.svg" alt="Angular Framework"></i>
                    <p class="icon-label">Angular</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-2"><img src="../../../assets/images/skill_icons/typescript.svg" alt="TypeScript"></i>
                    <p class="icon-label">TypeScript</p>
                </div>   
                <div class="icon-item">
                    <i class="icon icon-3"><img src="../../../assets/images/skill_icons/javascript.svg" alt="JavaScript"></i>
                    <p class="icon-label">JavaScript</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-4"><img src="../../../assets/images/skill_icons/firebase.svg" alt="Firebase"></i>
                    <p class="icon-label">Firebase</p>
                </div>
            </div>
            <div class="icon-row">
                <div class="icon-item">
                    <i class="icon icon-5"><img src="../../../assets/images/skill_icons/html5.svg" alt="HTML 5"></i>
                    <p class="icon-label">HTML</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-6"><img src="../../../assets/images/skill_icons/css3.svg" alt="CSS 3"></i>
                    <p class="icon-label">CSS</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-7"><img src="../../../assets/images/skill_icons/git.svg" alt="Git"></i>
                    <p class="icon-label">GIT</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-8"><img src="../../../assets/images/skill_icons/rest_api.svg" alt="Rest API"></i>
                    <p class="icon-label">Rest-API</p>
                </div>
            </div>
            <div class="icon-row">
                <div class="icon-item">
                    <i class="icon icon-9"><img src="../../../assets/images/skill_icons/material_design.svg" alt="Material Design"></i>
                    <p class="icon-label">Material<br>Design</p>
                </div>
                <div class="icon-item">
                    <i class="icon icon-10"><img src="../../../assets/images/skill_icons/scrum.svg" alt="Scrum"></i>
                    <p class="icon-label">Scrum</p>
                </div>
            </div>
            <div class="icon-row">
                <div class="icon-item">
                    <i class="icon icon-11"><img src="../../../assets/images/skill_icons/learning.svg" alt="Continually Learning"></i>
                    <p class="icon-label">{{ isEnglish ? 'Continually learning' : 'Ständig am Lernen' }}</p>
                    <img class="small-image" src="../../../assets/images/vue_react.png" alt="VUE.js and REACT">
                </div>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="flex-skills">
            <h2>{{ isEnglish ? 'Skills' : 'Fähigkeiten' }}</h2>
            <div class="line-container">
                <div class="line"></div>
            </div>
        </div>
        
        <div class="text-container">
            <div class="margin">
                <p>{{ isEnglish ? 
                    'My journey has involved working on diverse projects, employing a range of frontend technologies and concepts. I am open to embracing new technologies and methodologies to continually enhance my skills and stay ahead in the ever-evolving landscape of web development.' : 
                    'Meine Reise hat mich dazu geführt, an verschiedenen Projekten zu arbeiten, wobei ich eine Reihe von Frontend-Technologien und -Konzepten eingesetzt habe. Ich bin offen dafür, neue Technologien und Methoden zu übernehmen, um meine Fähigkeiten kontinuierlich zu verbessern und in der sich ständig weiterentwickelnden Welt der Webentwicklung einen Schritt voraus zu sein.' }}
                </p>
                <h3>
                    {{ isEnglish ? 'Looking for ' : 'Auf der Suche nach ' }}
                    <span class="animated-text">
                      <span class="jump-text">{{ isEnglish ? ' another skill ' : ' einer weiteren Fähigkeit ' }}</span>
                    </span>?
                  </h3>
                  
                <p>{{ isEnglish ? 
                    'Feel free to contact me. I look forward to expanding on my previous knowledge.' : 
                    'Zögere nicht, mich zu kontaktieren. Ich freue mich darauf, mein bisheriges Wissen zu erweitern.' }}
                </p>
                <a href="#contact">
                    <button id="primary-btn" class="primary ripple-button" (click)="addRippleEffect($event)">
                        {{ isEnglish ? 'Get in touch' : 'Kontakt aufnehmen' }}
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
