@import './../../../styles.scss';

h2 {
  font-size: clamp(45px, 6vw, 90px);
  line-height: clamp(54px, 7vw, 108px);
  white-space: nowrap;
  padding: 0 20px; 
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 38.4px;
  margin: 32px 0;
}

span {
  color: $purple;
}

section#skills {
  position: relative;
  z-index: 22;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: -550px;
  margin-bottom: 100px;
}

.icon-text-section {
  flex: 1 1 55%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.icon-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.icon-item {
  width: 120px;
  margin: 20px;
  text-align: center;
  position: relative; 
  z-index: 10;
  transform: translateX(-1000px) translateY(50px); 
}

.icon-item .icon {
  display: block;
  object-fit: contain;
  margin-bottom: 16px; 
  transition: transform 1.0s ease-in, box-shadow 0.3s ease-out;
}

.icon-item .icon:hover {
  transform: translateY(-16px);
  transition: transform 0.2s ease-out;
}

.icon-item .small-image {
  opacity: 0;
  transform: scale(0.8); 
  width: 150px;
  position: absolute;
  left: 20px;
  bottom: 120px;
  z-index: 500;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

 .icon-item .small-image:hover {
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
  animation: pulse 1s ease infinite;
  z-index: 500;
} 

.icon-item:hover .small-image {
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
  animation: pulse 1s ease infinite;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}


.icon-11 {
  animation: none !important;
  transition: none !important;
  transform: none !important; 
}

.icon-item:hover .icon-11 {
  transition: transform 0.5s ease-out, box-shadow 0.3s ease-out; 
}

.icon-item.icon-11 .icon {
  animation: none !important;
  transform: none !important;
}

.icon-item.icon-11:hover .icon {
  transform: none;
  animation: none;
}

.icon-item.icon-11:hover .small-image {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) scale(1.1);
  animation: pulse 1s ease infinite;
}

.icon-item.icon-11 .small-image {
  left: 50%;
  bottom: -20px; 
  transform: translateX(-50%) scale(0.8);
}

.icon-label {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: center;
}

.text-container {
  flex: 1;
  padding-left: 20px;
  margin-top: 80px;
}

.flex {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-skills {
  display: flex;
  align-items: center;
  width: 100%;
}

.line-container {
  flex-grow: 1;
  overflow: visible;
}

.line {
  border: 2px solid $indigo;
  border-top-left-radius: 1px;
  height: 3px;
  width: 100%;
  margin-left: 32px;
  margin-bottom: 18px;
}

#primary-btn {
  margin-top: 80px;
  width: 200px;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes shake {
  0% {
    transform: rotate(360deg) scale(1.2) translateX(0);
  }
  25% {
    transform: rotate(360deg) scale(1.2) translateX(-5px);
  }
  50% {
    transform: rotate(360deg) scale(1.2) translateX(5px);
  }
  75% {
    transform: rotate(360deg) scale(1.2) translateX(-5px);
  }
  100% {
    transform: rotate(360deg) scale(1.2) translateX(0);
  }
}

@keyframes sway {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-4px);
  }
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes doubleJump {
  0%, 20%, 40%, 100% {
    transform: translateY(0);
  }
  10%, 30% {
    transform: translateY(-10px);
  }
}


.animated-text {
  display: inline-block;

}

.jump-text {
  display: inline-block;
  cursor: pointer;
}

.jump-text:hover {
  animation: doubleJump 0.6s ease forwards;
}

.invisible-text-button,
.invisible-text-up {
  display: none;
}


@media (max-width: 1200px) {
  .icon-item { width: 85px; }
  .icon-label { font-size: 14px; }
  .text-container { margin-top: 60px;}
}

@media (max-width: 992px) {
  .icon-label { font-size: 12px; }
  .text-container { margin-top: 40px;}
  .icons-container { padding-left: 10px; }
}

@media (max-width: 935px) {
  .icon-label { font-size: 12px;}
  .text-container { margin-top: 40px; }
  .icon-item { width: 70px;}
}

@media (max-width: 835px) {
  .icon-item { 
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;
  }
  .icon { display: contents; width: 60px; height: 60px; }
  .icon-label { font-size: 12px; padding-top: 16px;}
  .text-container { margin: 40px 20px; }
}

@media (max-width: 792px) {
  .icon-item { 
    // width: 75px;
  }
}

@media (max-width: 758px) {
  .icon-item { 
    // width: 60px;
  }
}

@media (max-width: 700px) {
  section#skills {
    flex-direction: column-reverse;
  }
  .icon-text-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .icon-item { 
    width: 120px; 
  }
  .flex {
    width: 100%;
    padding: 0 20px;
  }
  .text-container {
    width: 100%;
    padding-left: 0;
    margin: 0;
  }

  .invisible-text-button,
  .invisible-text-up {
    display: block;
    margin: 0 40px 30px;
  }
  .margin { 
    display: none;
  }

}

@media (max-width: 680px) {
  section#skills {
    flex-direction: column;
  }
  .icon-text-section {
    order: 2;
  }
  .icon-item { 
    width: 120px; 
  }

  .flex {
    order: 1;
  }

  .text-container {
    margin-top: 0;
  }

  .icons-container {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .icon-item { width: 100px; }
  //.icon-label { font-size: 14px; }
}

@media (max-width: 520px) {
  .icon-item { width: 90px; }
  //.icon-label { font-size: 14px; }
}

@media (max-width: 478px) {
  .icon-item { width: 80px; }
  //.icon-label { font-size: 14px; }
}

@media (max-width: 440px) {
  .icon-item { width: 70px; }
  //.icon-label { font-size: 14px; }
}

@media (max-width: 400px) {
  .icon-item { width: 60px; }
  //.icon-label { font-size: 14px; }
}

@media (max-width: 375px) {
  img { width: 40px; height: 40px; object-fit: contain; }
  
  .icon-text-section, .flex {
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
  }

  .icon-item {
    width: 54px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-item .icon { width: 30px; height: 30px; margin: 0 auto; }
  .icon-item .icon-label { font-size: 11px; padding-top: 16px; }
  .icon-item .small-image { left: 0; bottom: 90px; width: 150px; }

  .text-container { margin: 20px 10px; }
  .icons-container { margin-top: 40px; margin-bottom: 0; padding-left: 0; }
  .flex-skills { margin-left: 0; }
  .margin { margin-right: 0; }
  .icon-row { margin: 0 auto; text-align: center; }
}
