// Importiere globale Variablen
@import './../../../styles.scss';

section {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  padding: 20px 30px;
  background-color: $background-dark;
  color: $white;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 200px;

  h1, h2, h3, h4 {
    color: $white;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 108px;
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.25rem;
    margin-top: 20px;
  }

  h4 {
    font-size: 1.1rem;
    margin-top: 15px;
  }

  p {
    margin-bottom: 15px;
    text-align: justify;
  }

  a {
    color: $green;
    text-decoration: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $green;
      transition: width 0.3s ease-in-out;
    }
  
    &:hover::after {
      width: 70%;
    }
  }
}

@media (max-width: 768px) {
  section {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;
  }
}
