
<section id="imprint">

    <div *ngIf="isEnglish">
        <div class="impressum">
          <h1>Imprint</h1>
          <p>Information according to § 5 DDG</p>
          <p>Marc Braun <br> 
            Wersauer Weg 33<br> 
            64405 Fischbachtal<br> 
          </p>
          <p> <strong>Represented by: </strong><br>
            Marc Braun<br>
          </p>
          <p><strong>Contact:</strong> <br>
            Phone: <a href="tel:015204221550">01520 422 1550</a><br>
            Email: <a href="mailto:mail&#64;marc-braun.com">mail&#64;marc-braun.com</a><br>
          </p>

          <p><strong>Disclaimer: </strong><br><br>
            <strong>Liability for Content</strong><br><br>
            The content of our pages was created with the greatest care. However, we cannot guarantee the correctness, completeness, and topicality of the content. As a service provider, we are responsible for our own content on these pages in accordance with § 7 paragraph 1 of the DDG. According to §§ 8 to 10 DDG, we are not obligated as a service provider to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information under general law remain unaffected. However, liability in this regard is only possible from the time of knowledge of a specific legal violation. Upon becoming aware of corresponding legal violations, we will remove this content immediately.<br><br>
            <strong>Liability for Links</strong><br><br>
            Our offer contains links to external websites of third parties over whose content we have no influence. Therefore, we cannot assume any liability for this external content. The respective provider or operator of the pages is always responsible for the content of the linked pages. The linked pages were checked for possible legal violations at the time of linking. Illegal content was not recognizable at the time of linking. However, a permanent content control of the linked pages is not reasonable without concrete evidence of a legal violation. Upon becoming aware of legal violations, we will remove such links immediately.<br><br>
            <strong>Copyright</strong><br><br>
            The content and works created by the site operators on these pages are subject to German copyright law. The duplication, processing, distribution, and any kind of exploitation outside the limits of copyright law require the written consent of the respective author or creator. Downloads and copies of this site are only permitted for private, non-commercial use. Insofar as the content on this site was not created by the operator, the copyrights of third parties are respected. In particular, third-party content is marked as such. Should you still become aware of a copyright infringement, we ask for a corresponding notice. Upon becoming aware of legal violations, we will remove such content immediately.<br><br>
            <strong>Data Protection</strong><br><br>
            The use of our website is usually possible without providing personal data. Insofar as personal data (for example, name, address, or email addresses) is collected on our pages, this is always done on a voluntary basis, as far as possible. These data will not be passed on to third parties without your express consent.<br>
            We point out that data transmission over the Internet (e.g., communication by email) can have security gaps. A complete protection of data from access by third parties is not possible.<br>
            The use of contact data published in the context of the imprint obligation by third parties for sending unsolicited advertising and information materials is hereby expressly objected to. The operators of the pages expressly reserve the right to take legal action in the event of the unsolicited sending of advertising information, such as spam emails.<br>
          </p><br>
          Imprint from <a href="https://www.impressum-generator.de">Imprint Generator</a> of the <a href="https://www.kanzlei-hasselbach.de/standorte/bonn/" rel="nofollow">Kanzlei Hasselbach, Bonn</a>
        </div>
      </div>
      
      <div *ngIf="!isEnglish">
        <div class="impressum">
          <h1>Impressum</h1>
          <p>Angaben gemäß § 5 DDG</p>
          <p>Marc Braun<br> 
            Wersauer Weg 33<br> 
            64405 Fischbachtal<br> 
          </p>
          <p> <strong>Vertreten durch: </strong><br>
            Marc Braun<br>
          </p>
          <p><strong>Kontakt:</strong> <br>
            Telefon: <a href="tel:015204221550">01520 422 1550</a><br>
            E-Mail: <a href="mailto:mail&#64;marc-braun.com">mail&#64;marc-braun.com</a><br>
          </p>

          <p><strong>Haftungsausschluss: </strong><br><br>
            <strong>Haftung für Inhalte</strong><br><br>
            Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 DDG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 DDG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br><br>
            <strong>Haftung für Links</strong><br><br>
            Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br><br>
            <strong>Urheberrecht</strong><br><br>
            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.<br><br>
            <strong>Datenschutz</strong><br><br>
            Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. <br>
            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. <br>
            Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.<br>
          </p><br> 
          Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a href="https://www.kanzlei-hasselbach.de/standorte/bonn/" rel="nofollow">Kanzlei Hasselbach, Bonn</a>
        </div>
      </div>

</section>         