
$background-dark: #141D2F;
$green: #70E61C;
$purple: #9747FF;
$white: #ffffff;
$black: #000000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $background-dark;
    color: $white;
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
}

h2 {
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    margin-bottom: 24px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}
  
.background-image-right, .background-image-left {
    max-width: 1920px;
    margin: 0 auto;
}

.background-image-left {
    background-image: url('./assets/images/purple_shadow_1.svg');
    background-repeat: no-repeat;
    background-position: left 109px;
}

.background-image-right {
    background-image: url('./assets/images/purple_shadow.svg');
    background-repeat: no-repeat;
    background-position: right 109px;
}
