

<footer>
  <div class="header_logo">
    <a (click)="navigateAndScroll('/')">
        <h1 class="logo_name">
          <span class="accent-green">&lt;/</span>
          <span>M</span>
          <span>a</span>
          <span>r</span>
          <span>c</span>
          <span class="accent-green">&gt;</span>
        </h1>
    </a>
    <a class="imprint" (click)="navigateAndScroll('/imprint')">
      {{ isEnglish ? 'Legal Notice' : 'Impressum' }}
    </a>
  </div>
  <div>
    
</div>
  <p class="footer_name">&copy; Marc Braun {{ currentYear }}</p>

  <div class="icon-row">
    <a href="https://github.com/Marc-Braun-72" target="_blank" class="icon-link">
        <img src="./../../../assets/images/hero_icons/icon_github.svg" alt="Github" class="icon">
    </a>
    <a href="mailto:mail@marc-braun.com" class="icon-link">
        <img src="./../../../assets/images/hero_icons/icon_mail.svg" alt="E-Mail" class="icon">
    </a>
    <a href="https://www.linkedin.com/" target="_blank" class="icon-link">
        <img src="./../../../assets/images/hero_icons/icon_linkedin.svg" alt="LinkedIn" class="icon">
    </a>
  </div>
</footer>


  
  