<div class="carousel">
    <div class="carousel-container">
        <div class="carousel-content">
            <div class="carousel-item">
                <div class="quote-box">
                    <p class="quote-text">Rezension 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="image-box">
                    <img src="https://via.placeholder.com/272" alt="Bild 1">
                </div>
            </div>
            <div class="carousel-item">
                <div class="quote-box">
                    <p class="quote-text">Rezension 2 - Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                </div>
                <div class="image-box">
                    <img src="https://via.placeholder.com/272" alt="Bild 2">
                </div>
            </div>
            <div class="carousel-item">
                <div class="quote-box">
                    <p class="quote-text">Rezension 3 - Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                </div>
                <div class="image-box">
                    <img src="https://via.placeholder.com/272" alt="Bild 3">
                </div>
            </div>
        </div>
    </div>

    <!-- Carousel -->
    <div class="arrows">
        <div class="arrow arrow-left">
            <div class="arrow-tip"></div>
            <div class="arrow-line"></div>         
        </div>
    
        <div class="dots">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    
        <div class="arrow arrow-right">
            <div class="arrow-line"></div>
            <div class="arrow-tip"></div>
        </div>
    </div>
    
</div>
